*.Rproj
.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
local-test/
.renviron
.rprofile
.rproj
.rproj.user
.rhistory
.rapp.history
.o
.sl
.so
.dylib
.a
.dll
.def
.ds_store
unsrturl.bst
.log
.aux
.backups
.cproject
.directory
.dropbox
.exrc
.gdb.history
notebooks/local/.ipynb_checkpoints/
.gitattributes
.gitmodules
.hgtags
.project
.seed
.settings
.tm_properties
*.tiff
usecases/usecase1/plots-rm/
usecases/usecase1/results-csv-rm/