import("MASS", "class", "prabclus", "mclust","utils")

importFrom("Rdpack","reprompt")
importFrom("corrplot","corrplot")
# importFrom("fpc","clusterboot")
importFrom("fpc","cluster.stats","dbscan", "kmeansruns", "fixmahal", "fpclusters", "pamk", "mergenormals")
# importFrom("fpc",""kmeansCBI"")
# importFrom("fpc","claraCBI")
# importFrom("fpc","hclustCBI")
# importFrom("fpc","pamkCBI")
importFrom("cluster", "silhouette", "pam", "clara")
importFrom("grDevices", "dev.off", "colorRampPalette")
importFrom("graphics", "axis", "legend", "mtext",
           "par", "plot", "text", "abline", "hist",
           "title", "points")
importFrom("stats", "cor", "dist", "na.omit", "kmeans", "hclust", "as.dist", "cmdscale", "cov", "cutree", "predict",
                "quantile", "rbinom", "rnorm", "runif")
importFrom("SummarizedExperiment", "assays")
importFrom("SummarizedExperiment", "assay")
importFrom("SummarizedExperiment", "SummarizedExperiment")
importFrom("MultiAssayExperiment", "ExperimentList")
importFrom("MultiAssayExperiment", "DataFrame")
importFrom("ggdendro", "ggdendrogram")
importFrom("reshape2", "melt")
importFrom("ggplot2", "ggplot", "guides", "scale_y_continuous",
           "position_dodge", "geom_errorbar", "element_line",
           "geom_point", "geom_linerange", "theme_set", "labs",
           "aes", "geom_boxplot", "theme_bw", "theme", "element_text",
           "geom_violin", "scale_color_grey")

importFrom("matrixStats", "colMaxs", "colMins", "colSds")
importFrom("plotrix", "draw.ellipse")
importFrom("utils", "data")
importFrom("utils", "head")
importFrom("stats", "prcomp")
importFrom("randomForest", "randomForest")
importFrom("flexmix", "FLXMRglm")
importFrom("flexmix", "stepFlexmix")
importFrom("flexmix", "getModel")
importFrom("flexmix", "prior")

export(stability)
export(stabilityRange)
export(stabilitySet)
export(quality)
export(qualityRange)
export(qualitySet)
export(metricsCorrelations)
export(getDataQualityRange)
export(standardizeStabilityData)
export(standardizeQualityData)
export(plotMetricsMinMax)
export(plotMetricsBoxplot)
export(plotMetricsCluster)
export(plotMetricsViolin)
export(getOptimalKValue)
export(plotMetricsClusterComparison)
export(evaluomeRSupportedCBI)
export(globalMetric)
export(annotateClustersByMetric)
export(getMetricRangeByCluster)
export(clusterbootWrapper)
export(getMetricsRelevancy)
